{% extends "base.html" %}

{% block title %}Generate a Route | SafeWalkers{% endblock %}

{% block content %}
  <section class="hero">
    <div>
      <p class="eyebrow">Generate a route</p>
      <h1>Where are we heading?</h1>
      <p class="lede">Enter a start, destination, and travel type to compare 2-3 route options.</p>
    </div>

    <form class="search-panel" action="/routes/results" method="post">
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}

      <label for="start">Start location</label>
      <input id="start" name="start" type="text" placeholder="UT Austin" list="start-suggestions" required />
      <datalist id="start-suggestions"></datalist>

      <label for="destination">End location</label>
      <input id="destination" name="destination" type="text" placeholder="Austin Central Library" list="destination-suggestions" required />
      <datalist id="destination-suggestions"></datalist>

      <label for="route_type">Type</label>
      <select id="route_type" name="route_type">
        <option value="walking">Walking</option>
        <option value="biking">Biking</option>
      </select>

      <button class="button" type="submit">Search</button>
    </form>
  </section>
{% endblock %}


{% block scripts %}
  <script>

    function debounce(func, delay) {
      let timeoutId;

      return function (...args) {
        clearTimeout(timeoutId);

        timeoutId = setTimeout(() => {
          func.apply(this, args);
        }, delay);
      };
    }

    async function fetchSuggestions(input) {
      const query = input.value;

      if (query.length < 3) return;

      const response = await fetch(
        `/autocomplete?q=${encodeURIComponent(query)}`
      );

      const results = await response.json();

      console.log(results)
      var innerText = "";
      results["features"].forEach((item, index) => {
        innerText += `<option>${item["properties"]["label"]}</option>\n`;
      });
      console.log(innerText);
      console.log(`${input.id}-suggestions`);
      document.getElementById(`${input.id}-suggestions`).innerHTML = innerText;
    }

    const debouncedFetch = debounce(fetchSuggestions, 300);

    document.getElementById("start").addEventListener("input", function () {
      debouncedFetch(this)
    });
    document.getElementById("destination").addEventListener("input", function () {
      debouncedFetch(this)
    });
  </script>
{% endblock %}